.btn {
	background: var(--accent);
	color: var(--bg-light);
	border: none;
	padding: 10px 20px;
	text-align: center;
	font-size: 0.9rem;
	font-weight: 600;
	text-decoration: none;
	border-radius: 12px;
}

.btn:hover,
.btn:focus {
	background-color: var(--text);
	cursor: pointer;
}
