.textInput {
	border: none;
	border-bottom: 1px solid #080705;
	border-radius: 0;
}

.textInput:focus {
	outline: none;
	border-bottom: 2px solid var(--accent);
	transition: border-bottom 0.01s;
}

/* .add-item-input {
	margin: 2.25em 3em 0 3em;
	padding-bottom: 0.5em;
} */
