.textInput {
	display: inline-block;
	/* margin: 1em 0; */
	padding-bottom: 0.3em;
	background: none;
	/* min-width: 90%; */
	border: none;
	border-bottom: 1px solid #080705;
	border-radius: 0;
}

.textInput:focus {
	outline: none;
	border-bottom: 2px solid var(--accent);
	transition: border-bottom 0.01s;
}
