.site-title {
	margin-bottom: 0.9em;
	font-size: 2rem;
	font-weight: 600;
}

.link {
	margin: 0.5em 0;
	color: var(--text);
	text-decoration: none;
}

.link:focus,
.link:hover {
	font-weight: 600;
}

.link:hover {
	color: var(--accent);
}

.task-list-link {
	margin-left: 1em;
}

/* --- LAYOUT  ---*/
/* main, */
.site-header,
.collapsible-root,
.collapsible-content,
.nav-menu-content,
.site-container,
.add-item-container,
.task-list-container {
	display: flex;
	flex-direction: column;
}

/* -- whole site (header + main) */

.site-container {
	min-height: 100vh;
}

/* -- header */
.site-header {
	width: 100%;
	padding: 1em;
	background: var(--bg);
	border-bottom: solid 1px var(--bg-dark);
}

.icon-btn {
	display: inline-flex;
	height: 25px;
	width: 25px;
	margin-bottom: 1em;
	font-family: inherit;
	background: inherit;
	color: inherit;
	border: none;
}

.icon-btn svg {
	width: 2rem;
	height: 2rem;
	fill: none;
	stroke: currentColor;
	stroke-width: 0.25;
}

.nav-menu-list {
	list-style: none;
}

.nav-menu-trigger {
	font-size: inherit;
	background: none;
	border: none;
}

/* -- main content*/

/* -- home-page */

.home-page {
	font-size: 1.25rem;
	margin: 2em auto;
	max-width: 80%;
}

/* -- task-list */
.task-list-container {
	display: flex;
	flex-direction: column;
}

/* -- task-item */
.task-item-container {
	padding: 0.75em 1em;
	margin: 0 0.5em 1em 0.5em;
	background: var(--bg);
}

/* -- ELEMENTS -- */

.CheckboxRoot {
	margin: auto 0;
	background: var(--bg-light);
	color: var(--text);
	border: 1px solid black;
}

.CheckboxRoot {
	background-color: var(--bg-light);
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.CheckboxRoot:focus,
.CheckboxRoot:hover {
	box-shadow: 0 0 0 2px var(--bg-dark);
	cursor: pointer;
}

.CheckboxRoot:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
