*{
    margin: 0;
    color: #080705;
    font-family: Rubik, sans-serif;
}

body{
    display: block;
}

header {
    width: 100%;
    background: #ccdbdc;
    margin: 0 auto;
    padding: 16px;
    font-weight: 600;
    font-size: large;

}

.page-title {
    display: flex;
    justify-content: center;
}


form.add-todo-form{
    display: flex;
    justify-content: center;
}

form.add-todo-form > * {
    margin: 20px;
    padding: 5px 10px;
    border: 1px solid #080705;
    border-radius: 5px;
}

input.add-todo-text{
    width: 350px;
    border: none;
    border-bottom: 1px solid #080705;
    border-radius: 0;
}

input.add-todo-text:focus{
    outline: none;
    border-bottom: 2px solid #3498db;
    transition: border-bottom 0.01s;
}


.list-title{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-weight: 600;

}

.list-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    margin: 0 30px;
}

.list-item > * {
    padding: 5px 10px;
    margin: 10px 3px;
}


ul{
    list-style-type: none;
    padding: 0;
}

button{
    background: #fff;
    color: #080705;
    padding: 10px 20px;
    border: 1px solid #080705;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
}

