*,
*::before,
*::after {
	box-sizing: border-box;
}

/* base color palette - light theme */
:root {
	--bg-dark: hsl(0 0% 90%);
	--bg: hsl(0 0% 95%);
	--bg-light: hsl(0 0% 100%);
	--text: hsl(0 0 5%);
	--text-muted: hsl(0 0% 30%);
}

/* accent color ??  to hover and focus on links and buttons*/

/* dark theme -- LATER
body.dark {
--bg-dark: hsl(0 0% 0%);
	--bg: hsl(0 0% 5%);
	--bg-light: hsl(0 0% 10%);
	--text: hsl(0 0 95%);
	--text-muted: hsl(0 0% 70%);
}
*/

body {
	margin: 0;
	font-family: Rubik, sans-serif;
	background: var(--bg-dark);
	color: var(--text-muted);
}

/* --- TYPOGRAPHY --- */

.page-title {
	font-size: 1.2em;
	font-weight: 600;
	padding-bottom: 30px;
}

/* --- LAYOUT  ---*/
.site-container {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.task-item-container {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 1em;
	padding: 0.75em 1em;
	margin-bottom: 1em;
	background: var(--bg);
}

/* -- sidebar */
nav {
	display: flex;
	flex-direction: column;
	padding: 12px 0;
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	background: #edede9;
	padding: 25px;
}

.link {
	color: var(--text-muted);
	text-decoration: none;
}

/* -- header */
header {
	background: #ccdbdc;
	margin: 0 auto;
	padding: 16px;
	font-weight: 600;
	font-size: large;
}

p.page-title {
	display: flex;
	justify-content: center;
}

/* -- main */

.add-task-container {
	display: flex;
	justify-content: center;
}

.add-task-container > * {
	margin: 20px;
}

section.list-container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

p.list-title {
	display: flex;
	justify-content: center;
	font-weight: 600;
}

.taskItemEditing {
	display: grid;
	grid-template-columns: 2fr auto;
}

input.task-update {
	margin-left: 60px;
	font-size: 1rem;
}

button.task-state {
	width: 40px;
	padding: 0;
}

span.task-name {
	font-size: 1rem;
	overflow: hidden;
	padding: 0 8px;
}

div.action-buttons {
	display: flex;
	gap: 8px;
}

div.action-buttons button {
	width: 92px;
}

input {
	width: 350px;
	border: none;
	border-bottom: 1px solid #080705;
	border-radius: 0;
}

input:focus {
	outline: none;
	border-bottom: 2px solid #3498db;
	transition: border-bottom 0.01s;
}

/* -- ELEMENTS -- */

.btn,
.checkbox {
	background: var(--bg-light);
	color: var(--text);
	border: 1px solid var(--text);
	border-radius: 2px;
}

.btn {
	padding: 10px 20px;
	text-align: center;
	font-size: 0.9rem;
	font-weight: 600;
	text-decoration: none;
}

.btn:hover,
.btn:focus,
.checkbox:hover,
.checkbox:focus {
	background-color: var(--bg);
	cursor: pointer;
}

.CheckboxRoot {
	background-color: var(--bg-light);
	width: 25px;
	height: 25px;
	border-radius: 4px;
	border: 0.1em solid var(--text-muted);
}

.CheckboxRoot:focus {
	box-shadow: 0 0 0 2px black;
}

/* button {
	background: #fff;
	color: #080705;
	padding: 10px 20px;
	border: 1px solid #080705;
	border-radius: 2px;
	font-size: 0.9rem;
	font-weight: 600;
	height: 40px;
} */
